{% extends parent_template|default:"base.html" %}

{% block content %}
<table class="table table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Навыки</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>SQL (Structured Query Language)</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Управление СУБД (MySQL, PostgreSQL, Oracle, MS SQL, MongoDB)</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Оптимизация производительности (анализ запросов, индексы, планы выполнения)</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Резервное копирование и восстановление данных</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Безопасность данных (управление правами доступа, защита данных)</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Автоматизация и скриптинг (Python, Bash, автоматизация задач)</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Облачные технологии (AWS, Azure, Google Cloud)</td>
    </tr>
    <tr>
        <td>8</td>
        <td>DevOps практики (CI/CD, контейнеризация, Docker, Kubernetes)</td>
    </tr>
    <tr>
        <td>9</td>
        <td>Анализ данных (работа с большими данными, бизнес-инсайты)</td>
    </tr>
    <tr>
        <td>10</td>
        <td>Коммуникационные навыки (работа с командами, документация, обучение)</td>
    </tr>
    </tbody>
</table>
{% endblock content %}