{% extends parent_template|default:"base.html" %}

{% block content %}
<table class="table table-bordered skills-table">
    <thead>
    <tr>
        {% for year in skills_by_year.keys %}
        <th>{{ year }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for i in max_skills_range %}
    <tr>
        {% for year, skills in skills_by_year.items %}
        <td>
            {% if i < skills|length %}
            {{ skills|slice:i|last }}
            {% else %}
            &nbsp;
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}